body, h1, ul, header{
	margin: 0;
	padding: 0;
}

/* controlli e bottoni */
input, button, textarea, select, a.button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{ 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

header{
	background-color: #ce0303;
	color: #fff;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px; 

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
}

header img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    flex: 0 0 auto;
}

nav{
    margin: 10px 5% 20px;
}
  

nav ul li, aside{
    background-color: #f8f5f5;
    border: 5px solid #ce0303;
}
 

nav ul{
    display: flex;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    flex: 1;
    width: auto;            
    display: block;
    text-align: center;
    margin: 10px 0 0;
    box-sizing: border-box;
}



nav ul li a {
    display: inline-block;
    color: #000;
    width: 100%;
    height: 100%;
    text-decoration: none;  
    padding: 8px 0; 
	font-size: 18px;
}
 
nav ul li a:hover{
    color: #ce0303;
	font-weight: bold;
}

h3{
	font-size: 22px;
}

h2, h3 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    margin: 18px 0 0;
}

h2::before, h3::before{
    content: "";
    width: 10px;
    height: 28px;
    background: #ce0303;
    border-radius: 6px;
}

body{
    background-color: #f8f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
	margin-right: 2%;
}

main, footer h3, footer ul{
	margin-left: 2%;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px 0;
}

table tr:first-child{
    background-color: #ce0303;
    color: #fff;
}

table tr td a:hover, .listexams a:hover{ 
	font-style: oblique; 
}



aside{
    width: 260px;
    margin: 10px 2% 0;
}

aside a, footer a{
	color: #000;
}

aside > section{
	padding: 0 5% 20px;
}

aside > section > ul, footer > ul{
	list-style: none;
}

aside > section > ul > li{
	margin-bottom: 10px;
}

aside > section > ul:first-child{
	margin-top: 10px;
}

aside > section > ul:last-child{
	margin-bottom: 50px;
}

aside > section > a:hover, footer > ul > li > a:hover{
	font-weight: bold;
    color: #0400ff;
}

aside > section > ul > li > a:hover{
	font-weight: bold;
    color: #ce0303;
}

footer{
    width: 100%;
    color: #000;
    background: linear-gradient(0deg, #ce0303, #f8f5f5);
    padding: 30px 0 20px;
    margin-top: auto;
}




/* Profilo */
.profile-head ul{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 15px;
    margin: 0 0 12px; 
}

.profile-avatar{
    width: 90px;
    height: 90px;
    border: 2px solid #ce0303;
    object-fit: cover;
}

.profile-name{
    font-weight: bold;
}

.profile-email{
    font-weight: 400;
    font-size: 15px;
}


/* bottoni “link” fuori dal form */
a.button {
    display: inline-block;    
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 14px;
}


/*Sezione cambia password, login e review*/
.form{
    background: #f8f5f5;
    border: 2px solid #ce0303;
    border-radius: 8px;
    margin-top: 10px;
    padding: 16px 14px; 
    width: 100%;
}

.form ul{
    list-style: none;
    padding: 0;
    margin: 0; 
}

.form li{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 14px;
}

.form label
{
    padding: 5px 0;
}

.form input[type="password"], .form input[type="text"], .form input[type="email"]{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #000;
    border-radius: 6px;
}

.form, .form ul, .form li, .form label, .form input{
	box-sizing: border-box;
}

.button, a.button{
    padding: 10px 14px;
    border: 2px solid #ce0303;
    background: #f8f5f5;
    cursor: pointer;
    font-weight: bold;
}

.button:hover, a.button:hover{
    color: #ce0303;
}

.form li:last-child{
    align-items: center;
}

.form li:last-child .button{
    width: 60%; 
}



.section-login {
	margin-top: 20px;
}


/*Valutazione in stelle nella pagina review*/
fieldset textarea{
	margin-top: 6px;
}
.rating-wrapper{
    display: flex;
    justify-content: flex-start; /* a sinistra */
    width: 100%;
    margin-top: 10px;
    gap: 5px;
}

.rating {
	direction: rtl; /* stelle da destra a sinistra */ 
    unicode-bidi: bidi-override; 
}

.rating input {
    display: none;                /* nasconde i radio */
}

.rating label {
    color: #fff;                  /* stella vuota bianca */
    -webkit-text-stroke: 1px #000; /* contorno nero */
    cursor: pointer;
}

.rating label.fa:before{
    content: "\f006"; /* fa-star-o (vuota) */
}

/* Hover */
.rating label:hover, .rating label:hover ~ label {
    -webkit-text-stroke: 1px #ce0303;       /* rimuove contorno sul rosso */
}

/* Selezionata */
.rating input:checked ~ label {
    color: #ce0303;        
}

.rating input:checked ~ label:before{  
    -webkit-text-stroke: 1px #ce0303; 
    content:"\f005"; 
}  



/*Riquadri recensioni nelle pagine dei docenti e review*/

.review, fieldset{
    border: 2px solid #ce0303;
    border-left-width: 10px;
    border-radius: 8px;
    background: #fff;
    padding: 12px 14px;
    margin: 12px 0;
}

.review-date{
    font-size: large;
    margin-left: 5px;
}

.review-text{
    margin-bottom: 10px;
}

/*  exams.html  */
.listexams li{
    margin-top: 10px;
}

fieldset ul li{
	margin: 10px 0;
}


/*INPUT + BOTTONE CERCA*/
/* barra ricerca: input + bottone affiancati */
.bar{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* tutto a destra */
.bar--right{
    justify-content: flex-end;
}

/* input: non troppo largo, ma cresce se serve */
.bar input{
    width: 40%;
    padding: 4px 14px;
    border: 1px solid #000;
}

.bar .btn{
    padding: 8px 14px;
    border: 2px solid #ce0303;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
}

.bar .btn:hover{
    color: #ce0303;
}

.bar label{
    display: none;
}



@media screen and (min-width: 768px){

	.layout{
        display: flex;
        align-items: flex-start;
        gap: 20px;
	}

	main{ 
        flex: 1; /* riempie tutto lo spazio a sinistra */ 
        min-width: 0;
        margin-left: 1%; /* se vuoi mantenere il tuo spazio */ 
	} 

	nav{
        margin: 0 10%;
    }

	aside{ 
        width: 260px; /* la tua larghezza */ 
        margin: 60px 2% 0 0; /* un po' di margine a destra */ 
	}

	table td, table th{
        padding: 10px 0;
	}

    .form{
        width: 70%;
    }

    .form li:last-child .button{
        width: 30%; 
    }

    .bar input{
        width: 30%;
    }

}
