body, h1, ul, footer, header{
	margin: 0;
	padding: 0;
}
/*
*, *::before, *::after {
  box-sizing: border-box;
}
*/
section, footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
	background-color: #ce0303;
	color: #fff;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header > h1{ /*SISTEMARE CON L'IMMAGINE*/
	padding: 10px;
}

nav{
    margin: 10px 5% 20px;
}
 
nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;  
    width: 45%;         
  	box-sizing: border-box;   
	background-color: #ffffff;
	border: 5px solid #ce0303;
    text-align: center;  
    margin: 10px 0 0;  
    
}

nav ul li:first-child{
    margin-right: 10%;
	
}

nav ul li a {
    display: inline-block;
    color: #000;
    width: 100%;
    height: 100%;
    text-decoration: none;  
    padding: 5px 0; 
}
 
nav ul li a:hover{
    color: rgb(219,69,83);
}

body{
	background-color: #fff;
}

main {
	margin-right: 1%;
}

main, footer h3, footer ul{
	margin-left: 1%;
}

main > section:first-of-type{
	text-align: right;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
	margin-top: 15px;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px 0;
}

table tr:first-child{
	background-color: #ce0303;
	color: #fff;
}

aside ul{
	list-style: none;
}

aside{
	background-color: #fff;
	border: 10px solid #ce0303;
	width: 260px;
	margin: 10px 2% 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside a, footer a{
	color: #000;
}

aside > section{
	padding: 0 5% 20px;
}

aside > section > ul, footer > ul{
	list-style: none;
}

aside > section > ul > li{
	margin-bottom: 10px;
}

aside > section > ul:first-child{
	margin-top: 10px;
}

aside > section > ul:last-child{
	margin-bottom: 50px;
}

aside > section > a:hover, footer > ul > li > a:hover{
	font-weight: bold;
    color: #0400ff;
}

aside > section > ul > li > a:hover{
	font-weight: bold;
    color: #ce0303;
}

footer{
	width: 100%;
	color: #000;
	background: linear-gradient(0deg, #ce0303, #fff);
}

@media screen and (min-width: 768px){

	.layout{
		display: flex;
		align-items: flex-start;
		gap: 20px;
	}
	main{ 
		flex: 1; /* riempie tutto lo spazio a sinistra */ 
		margin-left: 1%; /* se vuoi mantenere il tuo spazio */ 
	} 
	aside{ 
		width: 260px; /* la tua larghezza */ 
		margin: 60px 2% 0 0; /* un po' di margine a destra */ 
	}
}
/*
@media screen and (min-width: 768px){

	main, aside{
		display: inline-block;
		vertical-align: top;
	}

	main {
		width: 50%;
	}
	
	aside {
		width: 25%;
		margin: 68px 10% 0 5%;
		box-sizing: border-box;
	}
}
*/