body, h1, ul, footer, header{
	margin: 0;
	padding: 0;
}

section, footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
	background-color: #ce0303;
	color: #fff;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header > h1{ /*SISTEMARE CON L'IMMAGINE*/
	padding: 10px;
}

body{
	background-color: #fff;
	display: flex;
    flex-wrap: wrap;
}

main{
    flex: 1;
}


main, footer h3, footer ul{
	margin-left: 1%;
}

main > section:first-of-type{
	text-align: right;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
	margin-top: 15px;
}

table td, table th{
    border: 1px solid #000;
    padding: 15px 2%;
}

table tr:first-child{
	background-color: #ce0303;
	color: #fff;
}

aside ul{
	list-style: none;
}

aside{
	background-color: #fff;
	border: 10px solid #ce0303;
	width: 260px;
	margin: 10px 2% 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside a, footer a{
	color: #000;
}

aside > section{
	padding: 0 5% 20px;
}

aside > section > ul, footer > ul{
	list-style: none;
}

aside > section > ul > li{
	margin-bottom: 10px;
}

aside > section > ul:first-child{
	margin-top: 10px;
}

aside > section > ul:last-child{
	margin-bottom: 50px;
}

aside > section > a:hover, footer > ul > li > a:hover{
	font-weight: bold;
    color: #0400ff;
}

aside > section > ul > li > a:hover{
	font-weight: bold;
    color: #ce0303;
}

footer{
	width: 100%;
	color: #000;
	background: linear-gradient(0deg, #ce0303, #fff);
}


/*@media screen and (min-width: 768px){

	main, aside{
		display: inline-block;
		vertical-align: top;
	}
}*/

@media (max-width: 767px){
    body{
        flex-direction: column;
    }

    aside{
        width: auto;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 7fc89f8adc7ec10a806f17d36cbf8ba767478694
